@import "variables";
@import "mixins";
@import "base";

footer {
  .top-links {
    display: flex;
    min-height: 52px;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo {
    height: 3em;
  }

  .left-links {
    padding: 0;

    li {
      img {
        margin-right: 10px;
        vertical-align: bottom;
      }

      a {
        color: $darkgrey;
        font-family: $metropolis-light;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .mobile {
      display: none;
    }
  }

  .right-links {
    p {
      margin: 0;
    }

    .copywrite {
      padding-right: 10px;
      font-size: 12px;

      a {
        color: $darkgrey;
        font-family: $metropolis-light;
        font-size: 12px;
      }
    }

    a {
      vertical-align: middle;
    }
  }

  .bottom-links {
    margin: 10px 0 30px;

    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 12px;

      .ot-sdk-show-settings {
        cursor: pointer;
      }
    }

    a {
      font-family: $metropolis-light;
      font-size: 12px;
      text-decoration: underline;
    }

    img {
      max-width: 75px;
      margin-left: 30px;
      vertical-align: middle;
    }
  }

  @include breakpoint(small) {
    .footer-links {
      display: block;

      .right-links {
        display: none;
      }

      .left-links {
        margin: 10px 0;
        float: none;

        .desktop {
          display: none;
        }

        .mobile {
          display: inline;
        }

        .copywrite {
          display: block;
          margin-top: 20px;
        }
      }
    }

    .bottom-links {
      margin: 10px 0 20px;
      float: none;

      img {
        display: block;
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}
